.text_cursor{
    cursor: context-menu;
}

.highlight_link{
    color: $highlight_color;
    text-decoration: none;
    display: inline-block;

}
.highlight_link::after{
    content: "";
    display: block;
    height: 1px;
    background-color: $highlight_color;
    position: relative;
    width: 0%;
    transition: $hover_transition ;
}
.highlight_link{
    &:hover::after{
        width: 100%;
        transition: $hover_transition;
        opacity: .5;
    }
}
.highlight_btn{
    text-decoration: none;
    color: $highlight_color;
    border: 1px solid $highlight_color;
    border-radius: 4px;
    padding: 4px 10px 7px;
    vertical-align: baseline;
}
.big_heading{
    font-size: clamp(20px,5vw,50px);

    h2{
        color: $font_color2;
        padding: 0;
        margin: 0px 0px 20px;
    }
    h3{
        color: $font_color3;
        padding: 0;
        margin: 0px 0px 20px;
    }
    p{
        font-size: 1rem;
    }
}
a{
    text-decoration: none;
    color: $highlight_color;
}
