.about_me{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    margin: 0px auto;

    .innerBox{
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 50px;
        .innerText{
            margin: 0 5%;
            p{
                text-align: justify;
            }
            .skill_list{
                display: grid;
                grid-template-columns: repeat(2,minmax(140px,200px));
                list-style-type: none;

            }
            .skill_list>li{
                position: relative;
                padding-left: 15px;
            }
            .skill_list>li::before{
                content: '>';
                color: $highlight_color;
                font-size: 10px;
                position: absolute;
                left: 0;
                top: 5px;

            }
        }
        .innerImage{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            .img_wrapper{
                position: relative;
                &::after{
                    content: "";
                    display: block;
                    border: 2px solid #64ffda;
                    border-radius: 5px;
                    position: absolute;
                    width: 90%;
                    height: 90%;
                    top: 40px;
                    right: -26px;
                    transition: $hover_transition;
                    z-index: -1;
                }

                &:hover::after{
                    top: 30px;
                    right: -13px;
                    transition: $hover_transition;
                }
                img{
                    width: 250px;
                    margin-top: 20px;
                    border-radius: 5px;
                    filter: grayscale(1);

                    &:hover{
                        filter: grayscale(0);
                        transition: $hover_transition;
                    }
                }
            }


        }
    }
    @media screen and (max-width:690px) {
        .innerBox{
            display: block;
        }
    }

}
