.GetinTouch{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .InnerText{
        width: 40%;
        margin: 0 auto;
    }
    h5{
        font-style: italic;
        font-size: 15px;
    }
    a>img{
        height: 25px;
        width: 25px;
        margin-left: 5px;
    }
}
@media  screen and (max-width:690px) {
    .GetinTouch{
        display: block;
        height: 70vh !important;
        .InnerText{
            // padding: 0 5%;
            width: 80%;
        }
    }
}
