body{
    margin: 0 auto;
    background-color: $background_color;
    // position: relative;
    font-family: $font_sans;

}
::-webkit-scrollbar{
    width: 1px;
    height: 1px;
}
/* Track */
::-webkit-scrollbar-track {
    background: $highlight_color;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $background_color;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $background_color;
  }
.HomePage_content{
    color: $font_color3;
    padding: 0 10%;

    section{
        height: 100vh;
    }
}
@media screen and (max-width:690px) {
    .HomePage_content{
        padding: 0;
        section{
            width: 100%;
        }
    }
}
